.page__article{
    width: 64.84%;
    margin-top: 7.18%;
    margin-left: 11.56%;
    margin-right: auto;
}

.article__title{
    font-family: Inter, Arial, sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}

.article__text{
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin-top: 6.58%;
    width: 88.92%;
}

.article__quote{
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    width: 88.19%;
}

.article__text-continuation{
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    margin-top: 5.27%;
    width: 86.99%;
}