/*@media screen and (max-width: 1279px) and (min-width: 768px) {

    .page__main{
        width: 100%;
    }

    .content{
        width: 93.75%;
    }

    .content__title{
        width: 530px;
    font-size: 75px;
    line-height: 79px;
    }

    .content__subtitle{
        width: 720px;
    }

    .content__image{
        width: 100vw;
    }

    .content__article{
        width: 100%;
        margin: 11.71% auto;
    }

    .content__article-text{
        width: 100%;
    }

    .content__article-quote{
        width: 100%;
    }

    .content__article-text-continuation{
        width: 100%;
    }

    .content_gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr); 
        grid-gap: 16px;
        margin-top: 118px;
    }
    
/*.img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.img2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.img3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.img4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.img5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.img6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.img7 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.img8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}*/

