/*@media screen and (max-width: 320px) {

.content_gallery{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr); 
}
.place{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: repeat(9 , 1fr);
    width: 100vw;
}
}